<div id="player">
    <audio preload src="http://m2.music.126.net/YUG-jET1yBTpkUPMU6_viQ==/2036295534670312.mp3"></audio>
    <div class="cover">
        <div class="play">
            <i class="iconfont">&#xe614;</i>
        </div>
        <img />
    </div>
    <div class="panel">
        <div class="info">
            <span class="name text-overflow"></span>
            <span class="singer text-overflow"></span>
        </div>
        <div class="option">
            <div class="progress">
                <div class="back-bar"></div>
                <div class="played-bar"></div>
            </div>
            <i class="iconfont volume">&#xe610;</i>
            <i class="iconfont mode">&#xe612;</i>
            <!--<i class="iconfont">&#xe618;</i>-->
        </div>
    </div>
</div>
