@import "common.css";

.float-grid-container * {
    box-sizing: border-box;
}

.flex-grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-grid-container .row {
    display: flex;
    justify-content: flex-start;
}

.flex-grid-container [class*="col-"] {
    padding: 12px 0;
}

